<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Geladeira Inteligente</title>
    <meta name="robots" content="INDEX,FOLLOW">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--==============================
	  Google Fonts
	============================== -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Unbounded:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css">

    <!--==============================
	 CSS File
	============================== -->
    <link rel="stylesheet" href="static/bootstrap.min.css">
    <link rel="stylesheet" href="static/style.css">

</head>

    <body>

        <div class="hero-wrapper hero-7" id="hero">
            <div class="bg-title">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="hero-style7 text-center">
                                <h1 class="hero-title wow img-custom-anim-top text-smoke">Geladeira Inteligente</h1>
                                <p class="hero-text wow img-custom-anim-top text-smoke">Revolucione sua cozinha com gestão completa de alimentos. Experimente a conveniência de ter tudo sob controle!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="client-area-1 overflow-hidden mb-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-md-12 col-sm-10">
                        <ul class="client-list-wrap bg-theme">
                            <li>
                                <a href="/stock">
                                    <button class="btn bg-theme">
                                            <span class="text-title">Ver Estoque</span>
                                    </button>
                                </a>
                            </li>
                            <li>
                                <a href="/add_item_form">
                                    <button class="btn bg-theme">
                                            <span class="text-title">Adicionar Item ao Estoque</span>
                                    </button>
                                </a>
                            </li>
                            <li>
                                <a href="/expired_items">
                                    <button class="btn bg-theme">
                                            <span class="text-title">Itens Vencidos</span>
                                    </button>
                                </a>
                            </li>
                            <li>
                                <a href="/capture_image">
                                    <button class="btn bg-theme">
                                            <span class="text-title">Capturar Imagem</span>
                                    </button>
                                </a>
                            </li>         
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="feature-area-1 mb-4">
            <div class="container">
                <div class="row justify-content-xl-between justify-content-center">
                    <div class="col-xxl-6 col-xl-6">
                        <div class="feature-static mb-4">
                            <div class="feature-card style-grid">
                                <div class="feature-card-icon">
                                    <i class="ri-book-mark-line" style="font-size: 40px;"></i>
                                </div>
                                <div class="feature-card-details">
                                    <h4 class="feature-card-title">
                                        <a href="/recipes">Receitas Recomendadas</a>
                                    </h4>
                                    <p class="feature-card-text">Descubra receitas incríveis! Pronto para cozinhar algo especial?</p>
                                    <a href="/recipes" class="link-btn">
                                        <span class="link-effect">
                                            <span class="effect-1">VER RECEITAS</span>
                                            <span class="effect-1">VER RECEITAS</span>
                                        </span>
                                        <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M2 11L11.2 1.8M12 11V1H2" stroke="#0A0C00" stroke-width="2" stroke-linecap="square"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-6">
                        <div class="feature-static-wrap">
                            <div class="feature-static">
                                <div class="feature-card style-grid">
                                    <div class="feature-card-icon">
                                        <i class="ri-temp-hot-line" style="font-size: 35px;"></i>
                                    </div>
                                    <div class="feature-card-details">
                                        <h4 class="feature-card-title">
                                            <a href="/temperature">Controle de Temperatura</a>
                                        </h4>
                                        <p class="feature-card-text">Precisa ajustar a temperatura? Controle de forma fácil e rápida!</p>
                                        <a href="/temperature" class="link-btn">
                                            <span class="link-effect">
                                                <span class="effect-1">AJUSTE AGORA</span>
                                                <span class="effect-1">AJUSTE AGORA</span>
                                            </span>
                                            <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M2 11L11.2 1.8M12 11V1H2" stroke="#0A0C00" stroke-width="2" stroke-linecap="square"/>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer-wrapper footer-layout3 overflow-hidden bg-smoke">
            <div class="copyright-wrap">
                <div class="container">
                    <div class="row gy-3 justify-content-between align-items-center">
                        <div class="col-md-6">
        
                        </div>
                        <div class="col-md-6 align-self-center text-lg-end">
                            <p class="copyright-text">Copyright © 2024 Super Tropical
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </body>
</html>